# # Ignore all contents inside these folders recursively
# data/bronze/**
# data/silver/**
# data/gold/**
logs/**

# Allow only the .gitkeep files to preserve directory structure
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!logs/.gitkeep

# Python
__pycache__/
*.py[cod]
.env
virtualenv/

data__/
logs__
src/scraper/dag.py
data __latest/

.vscode/
.env

# Ignore Jupyter Notebook checkpoints anywhere
**/.ipynb_checkpoints/

# Ignore Python __pycache__ directories anywhere
**/__pycache__/