# # Ignore all contents inside these folders recursively
# data/bronze/**
# data/silver/**
# data/gold/**
logs/**

# Allow only the .gitkeep files to preserve directory structure
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!logs/.gitkeep

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/

# Jupyter Notebook checkpoints anywhere in the project
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/
.venv/

# Environment variables file
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor directories/files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Log files
*.log
